body {
  min-height: 100vh;
  background: linear-gradient(45deg, #d0a3fa 0%, #70b5f9 100%);
  animation: gradientAnimation 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.input-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.message-container {
  height: 60vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.user-message {
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px 0;
  max-width: 80%;
  align-self: flex-end;
}

.model-message {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px 0;
  max-width: 80%;
  align-self: flex-start;
}